{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        {% set titletab=(((path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))|split('/'))|last)|upper) %}
        <title>
            {% block title %}AMAP - {{titletab}}{% endblock %}
        </title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('css/jquery.dataTables.min.css')}}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{{asset('bootstrap/css/bootstrap.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/security.css')}}" type="text/css" media="screen">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        {% block fos_user_content %}
            {% if error %}
                <div class="alert alert-warning fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Warning! </strong><div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                </div>
            {% endif %}



            <div class="container">
                <div class="row">
                    <div class="Absolute-Center">
                        <div class="col-sm-12 col-md-10 col-md-offset-1">
                            <div class="login-panel panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Connexion</h3>
                                </div>
                                <div class="panel-body">
                                    <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                        <fieldset>
                                            <div class="form-group">
                                                <input class="form-control" placeholder="{{ 'security.login.username'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" placeholder="{{ 'security.login.password'|trans }}" type="password" id="password" name="_password" required="required" />
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input name="remember" type="checkbox" checked="checked" value="Remember Me" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                                </label>
                                            </div>
                                            <!-- Change this to a button or input when using this as a form -->
                                            <input type="submit" id="_submit" class="btn btn-lg btn-success btn-block" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                                            <a href="{{path('amap_default_home')}}" class="btn btn-lg btn-secondary btn-block active" role="button">{{ 'security.login.return'|trans({}, 'AMAPBundle') }}</a>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock fos_user_content %}

    </body>
    <script type="text/javascript" language="javascript" src="{{ asset('//code.jquery.com/jquery-1.12.3.min.js')}}">
    </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bootstrap/js/bootstrap.js')}}"></script>
</html>
