<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
   	    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link rel="stylesheet" href="{{ asset('css/reset.css')}}" type="text/css" media="screen">
		<link rel="stylesheet" href="{{ asset('css/style.css')}}" type="text/css" media="screen">
		<link rel="stylesheet" href="{{ asset('css/layout.css')}}" type="text/css" media="screen">
		<link rel="stylesheet" href="{{ asset('css/grid.css')}}" type="text/css" media="screen">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.dataTables.min.css')}}">

		<link href='http://fonts.googleapis.com/css?family=Adamina' rel='stylesheet' type='text/css'>
		{% endblock %}
                
		<script type="text/javascript" language="javascript" src="{{ asset('//code.jquery.com/jquery-1.12.3.min.js')}}">
		</script>

		<script type="text/javascript" language="javascript" src="{{ asset('js/jquery.dataTables.js')}}"></script>
		<script src="{{ asset('js/script.js')}}" type="text/javascript"></script>
		<script src="{{ asset('js/bgSlider.js')}}" type="text/javascript"></script>
		<!-- permet de gerer les diapo interne-->
		<script src="{{ asset('js/tms-0.3.js')}}" type="text/javascript"></script>
		<script src="{{ asset('js/tms_presets.js')}}" type="text/javascript"></script>
		<script type="text/javascript" language="javascript" class="init">
			$(document).ready(function() {
				$('#example').DataTable({
				});
			} );
	</script>
   </head>
	<body>
		<div id="bgSlider"></div>
		<section class="popup_block" id="popup_name">
			<div class="login">
			  <h1>Connexion</h1>
			  <form method="post" action="index.html">
				<p><input type="text" name="login" value="" placeholder="Nom d'utilisateur"></p>
				<p><input type="password" name="password" value="" placeholder="Mot de passe"></p>
				<p class="remember_me">
				  <label>
					<input type="checkbox" name="remember_me" id="remember_me">
					Se souvenir de moi
				  </label>
				</p>
				<p class="submit"><input type="submit" name="commit" value="Connexion"></p>
			  </form>
			</div>
			<div class="login-help">
			  <p>Mot de passe oublié? <a href="index.html">Cliquez ici pour le renouveller</a>.</p>
			</div>
		</section>
		<div class="extra">
		<!--==============================header=================================-->

			<header>
				<div class="top-row">
					<div id="Auth" class="Connect">
							<a href="#?w=500" rel="popup_name" class="poplight"><img src="{{ asset('./images/nav/co.png')}}" alt="connect" height="46.6" width="150"></a>
							<a href="#?w=500" rel="popup_name" class="poplight"><img src="{{ asset('./images/nav/co.png')}}" alt="connect" height="46.6" width="150"></a>
					</div>
				  <div class="main">
					
					<div class="wrapper">
						<a href="accueil">
						<div class="logo">
						<img src="{{ asset('./images/logo/logo.png')}}" width="375px" height="138px">
						</div>
						</a>
					   <div id="nav" class="right">
                                               
						<ul id="navigation">
                                                    {% block navigation %}
							<li {% if app.request.attributes.get('_route')=="amap_homepage" %}
								class="navAccueilActif"
								{% else %}
								class="navAccueil"
								{% endif %}>
								<a href="accueil">Accueil</a>
							</li>
							
							<li {% if app.request.attributes.get('_route')=="amap_actualite" %}
								class="navActusActif"
								{% else %}
								class="navActus"
								{% endif %}>
								<a href="actualites">Actualités</a>
							</li>
							<li {% if app.request.attributes.get('_route')=="amap_producteur" %}
								class="navProducteursActif" 
								{% else %}
								class="navProducteurs" 
								{% endif %}>
								<a href="producteur">Producteurs</a>
							</li>
							<li {% if app.request.attributes.get('_route')=="amap_amap" %}
								class="navAMAPActif"
								{% else %}
								class="navAMAP"
								{% endif %}>
								<a href="amap">L'AMAP</a>
							</li>
							<li {% if app.request.attributes.get('_route')=="amap_produit" %}
								class="navRecettesActif"
								{% else %}
								class="navRecettes"
								{% endif %}>
								<a href="produit">Produits</a>
							</li>
                                                    {% endblock %}
						</ul>
                                            
					</div>
					<!-- Liste qui permet de faire le diapo -->
					<ul class="pagination ">
						<li class="current img1"><a href="{{ asset('images/bg-img6.jpg')}}"></a></li>
						<li><a href="{{ asset('images/bg-img3.jpg')}}"></a></li>
						<li><a href="{{ asset('images/bg-img1.jpg')}}"></a></li>
					  </ul>
				  </div>
				</div>
			</header>
  
			<div class="inner">
				<div class="main centreblanc">
					<section id="content">
		  <!--==============================content================================-->
		  {% block contenu %}{% endblock %} 
		<!--==============================footer=================================-->
			   </section> 
			</div>
		</div>
     </div>

			<!--  {% block javascripts %}{% endblock %} -->
     
	</body>
	
	
	 {% block footer %}
	 <footer>
	  <div class="padding">
		<div class="main">
		  <div class="wrapper">
			<div class="fleft footer-text"> Copyright &copy; <a href="#">Domain Name</a> All Rights Reserved <strong> Design by <a target="_blank" href="http://www.templatemonster.com/">TemplateMonster.com</a></strong>
		  
			</div>
			<ul class="list-services">
			  <li>Link to Us:</li>
			  <li><a class="tooltips" href="#"></a></li>
			  <li class="item-1"><a class="tooltips" href="#"></a></li>
			  <li class="item-2"><a class="tooltips" href="#"></a></li>
			</ul>
		  </div>
		</div>
	  </div>
		 <script>
			 
			 $('a.poplight').click(function() {
					var popID = $(this).attr('rel'); //Trouver la pop-up correspondante
					var popURL = $(this).attr('href'); //Retrouver la largeur dans le href

					//Récupérer les variables depuis le lien
					
					var query= popURL.split('?');
					var dim= query[1].split('&amp;');
					var popWidth = dim[0].split('=')[1]; //La première valeur du lien

					//Faire apparaitre la pop-up et ajouter le bouton de fermeture
					$('#' + popID).fadeIn().css({
						'width': Number(popWidth)
					})
					.prepend('<a href="" class="close"><img src="{{ asset('./images/close_pop.png')}}" class="btn_close" title="Fermer" alt="Fermer" /></a>');

					//Récupération du margin, qui permettra de centrer la fenêtre - on ajuste de 80px en conformité avec le CSS
					var popMargTop = ($('#' + popID).height() + 80) / 2;
					var popMargLeft = ($('#' + popID).width() + 80) / 2;

					//On affecte le margin
					$('#' + popID).css({
						'margin-top' : -popMargTop,
						'margin-left' : -popMargLeft
					});

					//Effet fade-in du fond opaque
					$('body').append('<div id="fade"></div>'); //Ajout du fond opaque noir
					//Apparition du fond - .css({'filter' : 'alpha(opacity=80)'}) pour corriger les bogues de IE
					$('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn();

					return false;
					
				});
		 
		 </script>
	</footer>
 {% endblock %}
</html>
