{%extends '::base.html.twig' %}
{% block contenu %}
    <div class="container">
		
		<section>
			{% if actualites is defined %}
				<h1 class="actu">Les Actualites</h1>
				<br/>
				<ul class="lesactus">
					{% for actu in actualites %}				
						{% if actu.getisAfficher == 1 %}
							<li class='uneactu actu{{ actu.getId }}'> 
								<a href="actualites?id={{ actu.getId }}">
									<h6>{{ actu.getName }}</h6>
									<p>
										{% if not actu.getDateFin is null %} 
											Du {{ actu.getDateDebut|date("l j F Y", "Europe/Paris") }} au {{ actu.getDateFin|date("l j F Y", "Europe/Paris")}}
											{% else %} 
												Le {{ actu.getDateDebut|date("l j F Y", "Europe/Paris") }}	
										{% endif %}	
										
									</p>
								</a>
							</li>
						{% endif %}
					{% endfor %}	
				</ul>
			{% else %}	
				<h6>{{ actualite.getName }}</h6>
				<p>
					{% if not actualite.getDateFin is null %} 
						Du {{ actualite.getDateDebut|date("l j F Y", "Europe/Paris") }} au {{ actualite.getDateFin|date("l j F Y", "Europe/Paris")}}
						{% else %} 
							Le {{ actualite.getDateDebut|date("l j F Y", "Europe/Paris") }}	
					{% endif %}	
					
				</p>
				<p>{{ actualite.getDescription }}</p>
				<input type="button" value="Retour" onclick="history.go(-1)">
			{% endif %}
		</section>
	</div>
{% endblock %}