{%extends '::base.html.twig' %}

{% block contenu %}
    {% if amaps is defined %}
        <div class="row" >
            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
                <h2 class="titleBlock"><strong>AMAP</strong></h2>
            </section>
        </div>
        <div class="row marginTop marginBottom" >
            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- table table-striped table-bordered dt-responsive nowrap  -->
                <table id="DataTableShow" class="table table-striped table-bordered display " cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Adresse</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>   
                        {% for amap in amaps %}
                            <tr href="{{path('amap_default_amaps')}}/{{ amap.getId }}" title="Cliquez pour voir : {{ amap.getName() }}">	
                                <td> {{ amap.getName() }}</td>
                                {% set adrs = amap.getAdress()|split(',') %}
                                <td> {% for adr in adrs %}{{ adr }}<br>{% endfor %}</td>
                                
                                <td> {{ amap.getDescription()|truncate(103, false, '')|raw}}...</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    {% else %}
        <div class="row" >
            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
                <h2 class="titleBlock"><strong>AMAP : </strong>"<em>{{ amap.getName }}</em>"  </h2>
            </section>
        </div>
        <div class="row marginTop textSize" >
             {% if amap.getrepIMG() !='' %}
                <section class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                {% else %}
                    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                    {% endif %}
                 
                    
                    <p><strong>Adresse l'AMAP : </strong> {{ amap.getAdress() }}</p>
                                
                <p><strong>Description de l'AMAP : </strong>{{ amap.getDescription|raw }}</p>
                </section>
                {% if amap.getrepIMG() !='' %}
                    <section class="col-lg-5 col-md-5 col-sm-offset-0 col-sm-5 col-xs-offset-2 col-xs-8">
                        <div class='imgWidth'>
                        <img src='/AMAP/web/./images/amap/{{amap.getrepIMG()}}' alt="{{amap.getName()}}"/>
                    </section>
                        {% endif %}
                </div>

        <div class="row marginBottom" >
            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
                <button class="buttonReturn" onclick="history.go(-1)"><i class="fa fa-reply"></i><span> Retour</span></button>
            </section>
        </div> 
    {% endif %}
{% endblock %}

