{%extends '::base.html.twig' %}
{% block contenu %}
    <div class="container">
		
		<section>
			{% if news is defined %}
				<h1 class="actu">Les Actualites</h1>
				<br/>
				<ul class="lesactus">
					{% for n in news %}				
						{% if n.getIsDisplay == 1 %}
							<li class='uneactu actu{{ n.getId }}'> 
								<a href="actualites?id={{ n.getId }}">
									<h6>{{ n.getName }}</h6>
									<p>
										{% if not n.getEndDate is null %} 
											Du {{ n.getStartDate|date("l j F Y", "Europe/Paris") }} au {{ n.getEndDate|date("l j F Y", "Europe/Paris")}}
											{% else %} 
												Le {{ (n.getStartDate|date("l j F Y", "Europe/Paris"))|localizeddate('full', 'none') }}	
										{% endif %}	
										
									</p>
								</a>
							</li>
						{% endif %}
					{% endfor %}	
				</ul>
			{% else %}	
				<h6>{{ new.getName }}</h6>
				<p>
					{% if not new.getEndDate is null %} 
						Du {{ new.getStartDate|date("l j F Y", "Europe/Paris") }} au {{ new.getEndDate|date("l j F Y", "Europe/Paris")}}
						{% else %} 
							Le {{ new.getStartDate|date("l j F Y", "Europe/Paris") }}	
					{% endif %}	
					
				</p>
				<p>{{ new.getDescription|nl2br }}</p>
				<input type="button" value="Retour" onclick="history.go(-1)">
			{% endif %}
		</section>
	</div>
{% endblock %}