{%extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/skins/sonata/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/markdown/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/html/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/textile/style.css') }}" type="text/css" media="all" />
{% endblock %}
{% block contenu %}
    <div class="container">
		
		<section>
			{% if news is defined %}
				<h1 class="actu">Actualités</h1>
				<br/>
				<ul class="lesactus list-group">
					{% for n in news|sort %}				
						{% if n.getIsDisplay == 1 %}
							<li class='uneactu list-group-item actu{{ n.getId }}'> 
								
								<a href="actualites?id={{ n.getId }}">
									<div class='txtgauche'>
										<div class='imgdroit'>
											{% if n.getrepIMG() !='' %}
												<img src='/AMAP/web/./images/{{n.getrepIMG()}}' alt="{{n.getName()}}"/>
											{% endif %}
										</div>	
										<h3>{{ n.getName }}</h3>
										<p>
											{% if n.getEndDate != n.getStartDate %} 
												Du {{ (n.getStartDate|date("l j F Y", "Europe/Paris"))|localizeddate('full', 'none') }} au {{ (n.getEndDate|date("l j F Y", "Europe/Paris"))|localizeddate('full', 'none')}}
												{% else %} 
													Le {{ (n.getStartDate|date("l j F Y", "Europe/Paris"))|localizeddate('full', 'none') }}	
											{% endif %}	
											
										</p>
										
										{{ (n.getDescription()|raw)}}
									</div>
								</a>
							</li>
						{% endif %}
					{% endfor %}	
				</ul>
			{% else %}	
				<h2>{{ new.getName }}</h2>
				<div class='imgdroit'>
					{% if new.getrepIMG() !='' %}
						<img src='/AMAP/web/./images/{{new.getrepIMG()}}' alt="{{new.getName()}}"/>
					{% endif %}
				</div>
				<p>
					{% if new.getEndDate != new.getStartDate %} 
						Du {{ (new.getStartDate|date("l j F Y", "Europe/Paris"))|localizeddate('full', 'none') }} au {{ (new.getEndDate|date("l j F Y", "Europe/Paris"))|localizeddate('full', 'none')}}
						{% else %} 
							Le {{ (new.getStartDate|date("l j F Y", "Europe/Paris"))|localizeddate('full', 'none') }}	
					{% endif %}	
					
				</p>
                                {{ new.getDescription()|raw }}
				<input type="button" value="Retour" onclick="history.go(-1)">
			{% endif %}
		</section>
	</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/vendor/markitup-markitup/markitup/jquery.markitup.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/markdown/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/html/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/textile/set.js') }}" type="text/javascript"></script>
{% endblock %}