{% block navigation %}
    {%set classActive='Active'%}
    <!-- valable quand l'écran est inférieur à 768 px-->
    <ul class="nav navbar-nav smallMenu words" >
        <li class="navHome{% if titletab=="accueil" %}{{classActive}}{% endif %}">
            <a href="{{path('amap_default_home')}}">Accueil</a>
        </li>
        <li class="navNews{% if titletab=="actualites" %}{{classActive}}{% endif %}">
            <a href="{{path('amap_default_news')}}">Actualités</a>
        </li>
        <li class="navFarmers{% if titletab=="producteurs" %}{{classActive}}{% endif %}">
            <a href="{{path('amap_default_farmers')}}">Producteurs</a>
        </li>
        <li class="navAMAP{% if titletab=="amaps" %}{{classActive}}{% endif %}">
            <a href="{{path('amap_default_amaps')}}">L'AMAP</a>
        </li>
        <li class="navProducts{% if titletab=="produits" %}{{classActive}}{% endif %}">
            <a href="{{path('amap_default_products')}}">Produits</a>
        </li>
        <li class="navConnect">
            <a data-toggle="modal" data-target="#myModal">Se connecter</a>
        </li>
        {%if is_granted("ROLE_FARMER")%}
            <li class="navRecettes{% if app.request.attributes.get('_route')=="amap_produit" %}{{classActive}}{% endif %}">
                <a href="{{path('amap_farmer_index')}}">Gestion</a>
            </li>
        {% endif %}
    </ul>


    <!-- valable quand l'écran est supérieur à 768px -->
    <ul class="mediumMenu">
        <li class="navHome{% if titletab=="accueil" %}{{classActive}}{% endif %}">
            <a href="{{path('amap_default_home')}}">Accueil</a>
        </li>
        <li class="navNews{% if titletab=="actualites" %}{{classActive}}{% endif %}">
            <a href="{{path('amap_default_news')}}">Actualités</a>
        </li>
        <li class="navFarmers{% if titletab=="producteurs" %}{{classActive}}{% endif %}">
            <a href="{{path('amap_default_farmers')}}">Producteurs</a>
        </li>
        <li class="navAMAP{% if titletab=="amaps" %}{{classActive}}{% endif %}">
            <a href="{{path('amap_default_amaps')}}">L'AMAP</a>
        </li>
        <li class="navProducts{% if titletab=="produits" %}{{classActive}}{% endif %}">
            <a href="{{path('amap_default_products')}}">Produits</a>
        </li>
        {%if is_granted("ROLE_FARMER")%}
            <li class="navProducts{% if app.request.attributes.get('_route')=="produits" %}{{classActive}}{% endif %}">
                <a href="{{path('amap_farmer_index')}}">Gestion</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}