{% extends 'SonataAdminBundle::standard_layout.html.twig' %} 
{% trans_default_domain "AMAPBundle" %}
{% block side_bar_nav %} 
    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 1px">
        {{parent()}}
    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 1px">
    <ul class="sidebar-menu">
        <li class="treeview"> 
            <a href="#"> 
                <i class="fa fa-home"></i>
                <span>
                    {{'label_webamap'|trans}}
                </span> 
                <i class="fa pull-right fa-angle-left"></i> 
            </a> 
            <ul class="treeview-menu">
                <li class="first">
                    <a href="{{path('amap_default_home')}}"><i class="fa fa-angle-double-right"></i>{{((path('amap_default_home')|split('/'))|last)|capitalize }}</a>
                </li>
                <li>
                    <a href="{{path('amap_default_news')}}"><i class="fa fa-angle-double-right"></i>{{((path('amap_default_news')|split('/'))|last)|capitalize }}</a>
                </li>
                <li>
                    <a href="{{path('amap_default_farmers')}}"><i class="fa fa-angle-double-right"></i>{{((path('amap_default_farmers')|split('/'))|last)|capitalize }}</a>
                </li>
                <li>
                    <a href="{{path('amap_default_amaps')}}"><i class="fa fa-angle-double-right"></i>{{((path('amap_default_amaps')|split('/'))|last)|capitalize }}</a>
                </li>
                <li class="last treeview">
                    <a href="{{path('amap_default_products')}}"><i class="fa fa-angle-double-right"></i>{{((path('amap_default_products')|split('/'))|last)|capitalize }}</a>
                </li>
            </ul> 

        </li>
    </ul>
{% endblock %}
{% block side_bar_after_nav_content %}
    <a href="http://www.reseau-amap.org/" rel="noreferrer" target="_blank">{{'label_isma_project'|trans}}</a>
{% endblock %}